<footer>
  Made with <app-icon type="fa fa-heart"></app-icon> by
  <a href="https://github.com/ronkiro" target="__blank">Ronkiro</a><br />
  <nav>
    <a href="https://linkedin.com/in/ronkiro" target="__blank" class="nav-item"><app-icon type="fa fa-linkedin"></app-icon></a>
    <a href="https://github.com/ronkiro" target="__blank" class="nav-item"><app-icon type="fa fa-github"></app-icon></a>
    <a href="https://codepen.io/ronkiro" target="__blank" class="nav-item"><app-icon type="fa fa-codepen"></app-icon></a>
    <a href="mailto:dev_alex@outlook.com" target="__blank" class="nav-item"><app-icon type="fa fa-envelope"></app-icon></a>
    <a href="https://stackoverflow.com/users/10473393/alexander-santos" target="__blank"><app-icon type="fa fa-stack-overflow"></app-icon></a>
  </nav>
</footer>
